backports.shutil-get-terminal-size==1.0.0
decorator==4.0.9
Django==1.9.6
django-bootstrap3==7.0.1
django-extensions==1.6.7
ipython==4.2.0
ipython-genutils==0.1.0
pickleshare==0.7.2
pyreadline==2.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
