{% extends "base.html" %}

{% block content %}

    <a href="{% url "campaigns:list" %}">Back to all campaigns</a>

    <ul class="list-group">
        <br/>
        <p class="campaign_label">title:</p>
        <li class="list-group-item">
            {{ object.title }}
        </li>
        {% if object.description %}
            <br/>
            <p class="campaign_label">description:</p>
            <li class="list-group-item">
                {{ object.description|linebreaks }}
            </li>
        {% endif %}
        <br/>
        <p class="campaign_label">link:</p>
        <li class="list-group-item">
            {{ object.link }}
        </li>
        <br/>
        <p class="campaign_label">due date:</p>
        <li class="list-group-item">
            {{ object.due_date }}
        </li>
        <br/>
        <p class="campaign_label">replies num:</p>
        <li class="list-group-item">
          {{ object.replies_num }}
        </li>
    </ul>
{% endblock %}
