{% extends "base.html" %}

    {% block top_link_1 %}
        <a href="{% url "campaigns:replies_list" %}">View replies</a>
    {% endblock %}
    {% if request.session.is_writer %}
            {% block top_link_2 %}
                <a href="add-reply">Add Reply</a>
            {% endblock %}
    {% endif %}
{% block content %}
{#    <a href="{% url "campaigns:list" %}">Back to all campaigns</a>#}
{#    &nbsp;#}
    <ul class="list-group">
        <br/>
        <p class="campaign_label">title:</p>
        <li class="list-group-item">
            {{ object.title }}
        </li>
        {% if object.description %}
            <br/>
            <p class="campaign_label">description:</p>
            <li class="list-group-item">
                {{ object.description|linebreaks }}
            </li>
        {% endif %}
        <br/>
        <p class="campaign_label">link:</p>
        <li class="list-group-item">
            {{ object.link }}
        </li>
        <br/>
        <p class="campaign_label">due date:</p>
        <li class="list-group-item">
            {{ object.due_date }}
        </li>
        <br/>
        <p class="campaign_label">replies num:</p>
        <li class="list-group-item">
          {{ object.replies_num }}
        </li>
    </ul>
{% endblock %}
